.back{
    background-image:url('art.jpg'); 
    background-width:cover;
    border-radius:5%;
    text-decoration:none;
    list-style:none;
    color: green;


}
.back1{
    background-color: floralwhite;
    background-width:cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration:none;
  
    color: deeppink;
    font-size:large;
    display:flex;
    text-align:center;
    padding-right:100px;
}
.back2{background-color: floralwhite;
background-width:cover;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-decoration:none;

color: deeppink;
font-size:large;

text-align:center;
padding-right:100px;}
.hea{
    background-color: floralwhite;
    display:flex;
    text-decoration:none;
    list-style:none;
    color:#ff00ce;
    padding:10px;
    text-align:justify;
}
.but{
    border-radius:50%;
    outline-style:solid;
    outline-width:2px;
    outline-color:#ffceab;
    padding:20px;font-size:medium;
    display:flex;
    color:darkgreen;
    padding:10px;
    text-decoration:none;
    font-weight:20px;

}

.but1{
    border-radius:50%;
    outline-style:solid;
    outline-width:2px;
    outline-color:#ffceab;
    padding:20px;font-size:large;
    display:flex;
    color:violet;
    padding:10px;
    text-decoration:none;
    font-weight:20px;

}
.but2{
    border-radius:50%;
    outline-style:solid;
    outline-width:2px;
    outline-color:#ffceab;
    padding:20px;font-size:xx-large;
    display:flex;
    color:purple;
    padding:10px;
    text-decoration:none;
    font-weight:20px;

}

.but3{
    border-radius:50%;
    outline-style:solid;
    outline-width:2px;
    outline-color:#ffceab;
    padding:20px;font-size:xx-large;
  
    color:purple;
    padding:10px;
    text-decoration:none;
    font-weight:20px;


}
.back3{background-color: floralwhite;
    background-width:cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration:none;
    display:flex;
    color: deeppink;
    font-size:large;
    
    text-align:center;
    padding-right:100px;}